.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  width: 450px;
}

.buttons > button {
  width: 40%;
  font-size: $inputs-buttons-font-size;
  padding: $inputs-buttons-padding;
}
