$inputs-buttons-font-size: 1.1rem;
$score-font-size: 2rem;
$results-font-size: 1.5rem;
$inputs-buttons-padding: 0.3rem;
$inputs-buttons-results-weight: 600;
$font-family: "Courier New", Courier, monospace;
$highlight-color: #15ff00;
